h1 InnoGames Game Jam
h3 by Christopher Groß
hr
br
div title: the lost audio direction
br
br
div The gameplay is like a beat em up title. You have to kill your opponent with (currently) punching and kicking. Use the cursor keys to move left or right. Press "s" to kick and "d" to punch.
br
br
div Link for player1: <a href="/user/1" style="color: #fff">click me, i am player 1</a>
br
div Link for player2: <a href="/user/2" style="color: #fff">click me, i am player 2</a>
br
br
div(style="color: #a00") INFO: Currently there is a bug if more than one player open the same player link. Please just open it one time.
